.acidificacion-background{
    background-color: rgb(1, 193, 241);
    height: 100vh;
}

.acidificacion-intro{
    position: absolute;
    top: 50px;
    right: 90px; 
    width: 400px;
    z-index: 2;
    color: black;
}