html,body, #root{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

header{
    position: fixed;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 210px;
}

canvas {
    touch-action: none;
    
}

nav a{
    padding: 10px;
}