.backgroundQ {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #E0EAFC;  
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
  position: relative;
}

.calificaciones-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color:#61B2F2;
  color: black;
  border: none;
  border-radius: 4px;  
}


.calificaciones-button :hover {
  color: white;
  background-color: #0056b3;
}

.intro-quiz {
  background: #E0EAFC;  
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
  position: relative;
  user-select: none;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  text-align: center;
  padding: 20px;
  color: black;
}

.intro-quiz h1 {
  margin-bottom: 20px;
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.intro-quiz button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  background-color:#61B2F2;
  color: black;
  border: none;
  border-radius: 4px;

}

.intro-quiz button:hover {
    color: white;
    background-color: #0056b3;
  }
