.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.welcome-text {
    font-size: x-large;
    color: white
}

.loading-text {
    font-size: medium;
    color: #ffffff;
}.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcome-text {
  font-size: x-large;
  color: white;
}

.loading-text {
  font-size: medium;
  color: #ffffff;
}



