
.backgroundC{
    display: flex;
    flex-direction: column;
    background: rgb(203,197,192);
    background: radial-gradient(circle, rgba(203,197,192,1) 0%, rgba(227,227,227,1) 100%);
}

.main-containerC {
    position: relative;
    flex-direction: column;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden; 
}
  
.canvas-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calf(100% - 70px);
    z-index: 0;
    

}
  
.intro-cont{
    color: black;
    user-select: none;
    flex: 1; 
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.intro-cont h1{
    text-align: center;
    margin: 0%;
}

.intro-cont p {
    text-align: center;
    font-size: 18px;
}

.intro-cont h1,p{
    width: 100%; 
    max-width: 500px;
    margin: 0; 
}

.second-containerC {
    position: relative;
    flex-direction: column;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden; 
}

.second-containerC h1{
    margin-bottom: 50px;
    user-select: none;
    position: relative; 
    top: -4%; 
    transform: translateY(-50%); 
    color: white; 
    z-index: 10;
    text-align: center; 
    height: 1%;
    width: 100%; 
    margin-top: -15px;
}

.third-containerC{
    position: relative;
    flex-direction: column;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    margin-top: -15px; 
}

.title-efectos{
    user-select: none;
    z-index: 10;
    text-align: center;

}

.fauna-text-container{
    user-select: none;
    position: absolute;
    height: 100vh;
    width: 500px;
    top: 0%;
    left: 68%;
    margin: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: flex-start;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.title-fauna{
    margin-top: 350px;
    margin-bottom: 0;
    margin-left: 20px;
    z-index: 2;
}

.text-fauna{
    margin-left: 20px;
    margin-top: 0;
    z-index: 1;
}

.fourth-container{
    position: relative;
    flex-direction: column;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    margin-top: -15px;
}

.enfermedades-text-container{
    user-select: none;
    position: absolute;
    height: 100vh;
    width: 500px;
    top: 0%;
    left: 68%;
    margin: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: flex-start;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.title-enfermedades{
    margin-top: 350px;
    margin-bottom: 0;
    margin-left: 20px;
    z-index: 2;
}

.text-enfermedades{
    margin-left: 20px;
    margin-top: 0;
    z-index: 1;

}

.fifth-container{
    position: relative;
    flex-direction: column;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden; 
}
